
@{
    ViewData["Title"] = "Help";
}

@*<h2>@ViewData["Title"]</h2>*@

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Articles</a></li>
    <li class="active"><a href="#">Faq</a></li>
    <li class="active"><a href="#">Contact</a></li>
    <li><a href="#">Support</a></li>
</ul>

<div class="row">
    <div class="col-md-3">
        <h2>KipWeb</h2>
        <ul>
            <li>Volunteers</li>
            <li>Activities</li>
            <li>Calendar</li>
            <li>What's next?</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Address</h2>
        <ul>
            <li>Kirchenpartner</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>E-Mail</h2>
        <ul>
            <li>Mailto:support@kirchenpartner.no</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Phone</h2>
        <ul>
            <li>00 10101010</li>
        </ul>
    </div>
</div>

